# The explicitly trusted domain for the application (e.g. https://photos.mydomain.com)
# Used for CORS validation, setting secure auth cookies, and generating share links.
APP_DOMAIN=http://localhost:8000
PUBLIC_APP_DOMAIN=http://localhost:8000
