# PostgreSQL Connection
DB_HOST=localhost
DB_PORT=5432
DB_USER=hellomyphotos
DB_PASS=hellomyphotos_secret
DB_NAME=hellomyphotos

# Redis Connection
REDIS_HOST=localhost
REDIS_PORT=6379

# Machine Learning Service URL
IMMICH_ML_URL=http://localhost:3003

# Path Overrides (Only needed if running Node natively outside of Docker)
CACHE_ROOT=../volumes/cache_rw
MEDIA_ROOT=../volumes/media_ro

# Server Port
PORT=3000

# Worker Limits
WORKER_CONCURRENCY=2
ML_CONCURRENCY=1
